.About {
    font-family: Roboto, sans-serif;
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}

.About .title {
    font-size: 56;
    font-weight: 700;
    text-align: center;
    line-height: 60;
    color: white;
    top: 
}


body {
    font-family: Roboto,sans-serif;
}
